Repository habitat-sh/core-plans, pull requests merged in 2018-03, with the labels that each got.

#1164 [unzip] Improves package
  unzip/plan.sh
Labels: Minor Version Bump, Need owner approve

#1163 [linux-headers-musl] Improves package
  linux-headers-musl/plan.sh
Labels: Minor Version Bump, Need owner approve

#1161 [musl] Updates musl to 1.1.18
  musl/plan.sh
Labels: Minor Version Bump, Need owner approve

#1104 Add Leiningen 2.8.1
  .bldr.toml
  leiningen/README.md
  leiningen/plan.sh
Labels: new plan

#1221 [jo] bump 1.0 -> 1.1
  jo/plan.sh
Labels: Minor Version Bump

#1220 Add helm 2.7.2
  .bldr.toml
  helm/README.md
  helm/plan.sh
Labels: C-new-plan

#1132 Add googletest and googlemock
  .bldr.toml
  googlemock/README.md
  googlemock/plan.sh
  googletest/README.md
  googletest/plan.sh
Labels: C-new-plan

#997 [mesa] Adds mesa package (gtk3)
  .bldr.toml
  mesa/README.md
  mesa/plan.sh
Labels: C-new-plan

#1230 Update the rust package for linux to stable
  rust/plan.sh
Labels: A-plan-build, C-minor-version-up, I-linux, L-shell

#1103 [dovecot] Add dovecot package
  .bldr.toml
  dovecot/README.md
  dovecot/plan.sh
Labels: C-new-plan

#1000 [libepoxy] Adds libepoxy (gtk3)
  .bldr.toml
  libepoxy/README.md
  libepoxy/plan.sh
Labels: C-new-plan

#1223 Add Img and RunC plans
  .bldr.toml
  img/README.md
  img/plan.sh
  runc/README.md
  runc/plan.sh
Labels: C-new-plan

#1237 [img] version bump
  img/plan.sh
Labels: A-core-plans, C-minor-version-up, E-easy, V-bldr

#1192 [dep] fix build version, bump version (v0.4.1)
  dep/plan.sh
Labels: C-minor-version-up

#1269 [terraform] Update terraform to 0.11.5
  terraform/plan.sh
Labels: C-minor-version-up

#1234 [RFC] updates rfc process to move quicker
  _RFCs/0002-rfc-process-revisions.md
Labels: A-core-plans, C-RFC, E-easy, S-IN-FCP, V-bldr

#1270 [libtalloc] Adding libtalloc
  .bldr.toml
  CODEOWNERS
  libtalloc/README.md
  libtalloc/plan.sh
Labels: C-new-plan

#1267 [docker-compose] Add docker-compose 1.20.1
  .bldr.toml
  docker-compose/README.md
  docker-compose/plan.sh
Labels: C-new-plan

#1264 Add Mono 4.8.1 and Mono 5.10.1 plans.
  .bldr.toml
  mono4/README.md
  mono4/plan.sh
  mono5/README.md
  mono5/plan.sh
Labels: C-new-plan

#1257 [nmap] Upgrades to 7.70 + link to core/libssh2
  nmap/plan.sh
Labels: C-minor-version-up

#1268 [packer] Update packer to 1.2.1
  packer/README.md
  packer/plan.sh
Labels: C-major-version-up

#1240 [scaffolding-node] Copy over .npmrc if defined by the project
  scaffolding-node/CHANGELOG.md
  scaffolding-node/lib/scaffolding.sh
  scaffolding-node/plan.sh
Labels: A-scaffolding
