Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @smacfarlane, @predominant, @irvingpop, @fnichol, @reset, @nellshamrell, @echohack, @raskchanky, @mwrock, @wduncanfraser, @defilan, @jasonwbarnett, @bdangit, @johnjelinek, @afiune, @joshbrand, @tduffield, @cnunciato, @thomascate, @robbkidd, @dbhagen

[file] quote pkg_name value to avoid shellcheck error
  file/plan.sh
Owners: @fnichol, @smacfarlane

[file] add tests
  file/tests/test.bats
  file/tests/test.sh
Owners: @fnichol, @smacfarlane

[elasticsearch] update to 6.8.5
  elasticsearch/plan.sh
Owners: @joshbrand, @predominant, @echohack

[file] add tests
  file/tests/test.bats
Owners: @fnichol, @smacfarlane

[file] add note on MAGIC env to README
  file/README.md
Owners: @fnichol, @smacfarlane

Update linux-headers to LTS version
  linux-headers/plan.sh
  linux-headers/tests/test.sh
Owners: @fnichol, @smacfarlane

Updated expat to latest version.
  expat/plan.sh
Owners: @fnichol, @smacfarlane

Simplify mongodb configuration, reduce to minimum
  mongodb/config/mongod.conf
  mongodb/config/mongos.conf
  mongodb/default.toml
  mongodb/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Updated file to latest version and added testing.
  file/plan.sh
  file/tests/test.bats
  file/tests/test.sh
Owners: @fnichol, @smacfarlane

Update XZ from 5.2.3 -> 5.2.4
  xz/plan.ps1
Owners: @fnichol, @smacfarlane

Updated dejagnu to latest version.
  dejagnu/plan.sh
Owners: @fnichol, @smacfarlane

Add README
  mongodb/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

[wget] Adds support for IRIs
  wget/plan.sh
Owners: @fnichol, @smacfarlane

Updated gawk to latest version and added testing.
  gawk/tests/test.bats
  gawk/tests/test.sh
Owners: @fnichol, @smacfarlane

Fix rdeps call and jq filters
  bin/refresh-verify-change.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Corrects build deps in make, mpfr, ncurses, perl, procps-ng, sed, texinfo, zlib
  make/plan.sh
  mpfr/plan.sh
  ncurses/plan.sh
  perl/plan.sh
  procps-ng/plan.sh
  sed/plan.sh
  texinfo/plan.sh
  zlib/plan.sh
Owners: @fnichol, @smacfarlane

Corrects build deps in attr, acl, coreutils, diffutils, gcc, gmp, libcap, libmpc, linux-headers
  acl/plan.sh
  attr/plan.sh
  coreutils/plan.sh
  diffutils/plan.sh
  gcc/plan.sh
  gmp/plan.sh
  libcap/plan.sh
  libmpc/plan.sh
  linux-headers/plan.sh
  m4/plan.sh
Owners: @fnichol, @smacfarlane

Updated gdbm to latest version and added testing.
  gdbm/plan.sh
  gdbm/tests/test.bats
  gdbm/tests/test.sh
Owners: @fnichol, @smacfarlane

Add simple test to flex
  flex/plan.sh
  flex/tests/test.bats
  flex/tests/test.sh
Owners: @fnichol, @smacfarlane

Allow CI to work against base branches other than master.
  .expeditor/generate_verify_pipeline.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update grep
  grep/fix-test-getopt-posix-with-glibc-2.26.patch
  grep/plan.sh
  grep/tests/test.bats
  grep/tests/test.sh
Owners: @fnichol, @smacfarlane

Don't strip some .so
  glibc/plan.sh
Owners: @fnichol, @reset, @smacfarlane

Update pkg-config plan to meet current standards
  pkg-config/plan.sh
  pkg-config/tests/test.bats
  pkg-config/tests/test.sh
Owners: @fnichol, @smacfarlane

[zlib] Add Linux tests
  zlib/tests/test.bats
  zlib/tests/test.sh
Owners: @fnichol, @smacfarlane

Update patchelf
  patchelf/plan.sh
  patchelf/tests/test.bats
  patchelf/tests/test.sh
Owners: @fnichol, @smacfarlane

[shadow] Update to 4.7, add test
  shadow/plan.sh
  shadow/tests/test.bats
  shadow/tests/test.sh
Owners: @fnichol, @smacfarlane

[file] Update file to 5.37, update tests
  file/plan.sh
  file/tests/test.bats
  file/tests/test.sh
Owners: @fnichol, @smacfarlane

[readline] Update to 8.0
  readline/plan.sh
  readline/readline-patches.sh
  readline/tests/test.bats
  readline/tests/test.sh
Owners: @fnichol, @smacfarlane

[procps-ng] Fix license, add tests
  procps-ng/plan.sh
  procps-ng/tests/test.bats
  procps-ng/tests/test.sh
Owners: @fnichol, @smacfarlane

[psmisc] Update to 23.2, add tests
  psmisc/plan.sh
  psmisc/tests/test.bats
  psmisc/tests/test.sh
Owners: @fnichol, @smacfarlane

Update busybox to 1.31
  busybox-static/plan.sh
  busybox-static/tests/test.bats
  busybox-static/tests/test.sh
  busybox/config
  busybox/plan.sh
  busybox/tests/test.bats
  busybox/tests/test.sh
Owners: @fnichol, @smacfarlane, @habitat-sh/habitat-core-plans-maintainers

Add python-minimal package
  .bldr.toml
  base-plans.txt
  python-minimal/README.md
  python-minimal/plan.sh
  python-minimal/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers, @smacfarlane

[sed] Add tests
  sed/tests/test.bats
  sed/tests/test.sh
Owners: @fnichol, @smacfarlane

[sed] Disable shellcheck for pkg_name
  sed/plan.sh
Owners: @fnichol, @smacfarlane

Updated bison to latest version.
  bison/plan.sh
Owners: @fnichol, @smacfarlane

Update bison to 3.4.1
  bison/plan.sh
  bison/tests/test.bats
  bison/tests/test.sh
Owners: @fnichol, @smacfarlane

Update attr license to match SPDX
  attr/plan.sh
  attr/tests/test.bats
  attr/tests/test.sh
Owners: @fnichol, @smacfarlane

[tar] Update to 1.32, remove test patch, add BATS test
  tar/README.md
  tar/plan.sh
  tar/skip-test.patch
  tar/tests/test.bats
  tar/tests/test.sh
Owners: @fnichol, @nellshamrell, @smacfarlane

[gawk] Update to 5.0, add tests
  gawk/plan.sh
  gawk/tests/test.bats
  gawk/tests/test.sh
Owners: @fnichol, @smacfarlane

Update make
  make/plan.sh
  make/tests/fixtures/Makefile
  make/tests/test.bats
  make/tests/test.sh
Owners: @fnichol, @smacfarlane

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @smacfarlane
libsodium @smacfarlane
nginx @predominant
postgresql @irvingpop @habitat-sh/habitat-core-plans-maintainers
protobuf @smacfarlane @habitat-sh/habitat-core-plans-maintainers
protobuf-rust @smacfarlane @habitat-sh/habitat-core-plans-maintainers
zeromq @smacfarlane @habitat-sh/habitat-core-plans-maintainers

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol @smacfarlane
glibc @fnichol @reset @smacfarlane
zlib @fnichol @smacfarlane
file @fnichol @smacfarlane
binutils @fnichol @smacfarlane
m4 @fnichol @smacfarlane
gmp @fnichol @smacfarlane
mpfr @fnichol @smacfarlane
libmpc @fnichol @smacfarlane
gcc @fnichol @smacfarlane
gcc-libs @fnichol @reset @smacfarlane
patchelf @fnichol @smacfarlane
bzip2 @fnichol @smacfarlane
pkg-config @fnichol @smacfarlane
ncurses @fnichol @smacfarlane
attr @fnichol @smacfarlane
acl @fnichol @smacfarlane
libcap @fnichol @smacfarlane
sed @fnichol @smacfarlane
shadow @fnichol @smacfarlane
psmisc @fnichol @smacfarlane
procps-ng @fnichol @smacfarlane
coreutils @fnichol @smacfarlane
bison @fnichol @smacfarlane
flex @fnichol @smacfarlane
pcre @fnichol @smacfarlane
grep @fnichol @smacfarlane
readline @fnichol @smacfarlane
bash @fnichol @nellshamrell @smacfarlane
bc @fnichol @smacfarlane
tar @fnichol @nellshamrell @smacfarlane
gawk @fnichol @smacfarlane
libtool @fnichol @smacfarlane
gdbm @fnichol @smacfarlane
expat @fnichol @smacfarlane
db @fnichol @smacfarlane
inetutils @fnichol @smacfarlane
iana-etc @fnichol @smacfarlane
less @fnichol @smacfarlane
perl @fnichol @smacfarlane
diffutils @fnichol @smacfarlane
autoconf @fnichol @smacfarlane
automake @fnichol @smacfarlane
findutils @fnichol @smacfarlane
xz @fnichol @smacfarlane
gettext @fnichol @smacfarlane
gzip @fnichol @smacfarlane
make @fnichol @smacfarlane
patch @fnichol @smacfarlane
texinfo @fnichol @smacfarlane
util-linux @fnichol @smacfarlane
tcl @fnichol @smacfarlane
expect @fnichol @smacfarlane
dejagnu @fnichol @smacfarlane
check @fnichol @smacfarlane
libidn @fnichol @smacfarlane
cacerts @fnichol @smacfarlane
openssl @fnichol @reset @echohack @smacfarlane
wget @fnichol @smacfarlane
unzip @fnichol @nellshamrell @smacfarlane
rq @fnichol @smacfarlane
linux-headers-musl @fnichol @nellshamrell @smacfarlane
musl @fnichol @nellshamrell @smacfarlane
busybox-static @fnichol @smacfarlane
zlib-musl @fnichol @smacfarlane
bzip2-musl @fnichol @smacfarlane
xz-musl @fnichol @smacfarlane
libsodium-musl @fnichol @reset @smacfarlane
openssl-musl @fnichol @smacfarlane
libarchive-musl @fnichol @reset @smacfarlane
rust @fnichol @reset @raskchanky @nellshamrell @smacfarlane
vim @fnichol @nellshamrell @smacfarlane
libbsd @fnichol @smacfarlane
clens @fnichol @smacfarlane
mg @fnichol @smacfarlane
python-minimal @smacfarlane
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

alex @wduncanfraser
artifactory-pro @defilan
asciinema @jasonwbarnett
benchmark @bdangit
cabal-install @wduncanfraser
cerebro @predominant
clojure @johnjelinek
concourse @echohack
concourse-fly @echohack
consul @defilan @predominant
corretto @johnjelinek
corretto8 @johnjelinek
corretto11 @johnjelinek
cuda @bdangit
cuda-libs @bdangit
dcrpm @jasonwbarnett
dep @afiune @predominant
dotnet-47-dev-pack @mwrock
dotnet-asp-core @defilan
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant @echohack
fd @jasonwbarnett
filebeat @predominant @echohack
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @predominant
gocd-server @predominant
googletest @bdangit
grpcurl @afiune
happy @wduncanfraser
hugo @tduffield @cnunciato @predominant
innounp @mwrock
jenkins @predominant
journalbeat @thomascate @echohack
json-c @jasonwbarnett
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
mage @predominant
metricbeat @echohack
mssql @mwrock
nano @predominant
nmap @defilan
nss-myhostname @robbkidd
nuget @mwrock
openjdk11 @irvingpop
optipng @predominant
p4broker @dbhagen
pngquant @predominant
postgresql-client @joshbrand @irvingpop
postgresql11 @irvingpop
postgresql11-client @irvingpop
prometheus-cpp @bdangit
protobuf-cpp @afiune
redis @irvingpop
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack @predominant
tlog @jasonwbarnett
vault @defilan @predominant
visual-build-tools-2017 @mwrock
wrk @afiune @predominant
