Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @smacfarlane, @predominant, @irvingpop, @fnichol, @reset, @nellshamrell, @echohack, @raskchanky, @mwrock, @wduncanfraser, @defilan, @jasonwbarnett, @bdangit, @johnjelinek, @afiune, @joshbrand, @tduffield, @cnunciato, @thomascate, @robbkidd, @dbhagen

Update base-plans.txt to ensure full path to each plan.sh. This is necessary to ensure on-prem-builder code will successfully synchronize each base-plan
  base-plans.txt
Owners: @habitat-sh/habitat-core-plans-maintainers

Lift core/openssl version to 1.0.2t for both windows and linux plans
  openssl/plan.ps1
  openssl/plan.sh
Owners: @fnichol, @reset, @echohack, @smacfarlane

Fix #3129: add missing dependencies to base-plans.txt: core/libarchive and core/libsodium
  base-plans.txt
Owners: @habitat-sh/habitat-core-plans-maintainers

Update Nginx to 1.17.6
  nginx/plan.ps1
  nginx/plan.sh
  nginx/tests/test.sh
Owners: @predominant

Move me to alumni
  MAINTAINERS.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Update ansible to 2.9.1
  ansible/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update alex to 3.2.5, improve testing
  alex/plan.sh
  alex/tests/test.bats
  alex/tests/test.sh
  alex/tests/test.x
Owners: @wduncanfraser

Update artifactory to 6.15.0, update tests for lack of anonymous access
  artifactory/plan.sh
  artifactory/tests/test.bats
  artifactory/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update artifactorypro to 6.15.0
  artifactory-pro/plan.sh
  artifactory-pro/tests/test.bats
  artifactory-pro/tests/test.sh
Owners: @defilan

Minor cleanup for autogen
  autogen/plan.sh
  autogen/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update bash-completion to 2.9
  bash-completion/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add busybox to core plans
  base-plans.txt
Owners: @habitat-sh/habitat-core-plans-maintainers

Update googletest to 1.10.0
  googletest/plan.sh
Owners: @bdangit

Update bind to 9.15.6
  bind/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update BoringSSL to 3945
  boringssl/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update curl to 7.67.0
  curl-static-musl/plan.sh
  curl/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add version test for make
  make/tests/test.bats
Owners: @fnichol, @smacfarlane

Fix refresh build adding missing core/libarchive and core/libsodium dependencies to base-plans.txt
  base-plans.txt
Owners: @habitat-sh/habitat-core-plans-maintainers

Update Azure CLI to 2.0.77, update tests for new version output, standardize test file names
  azure-cli/plan.sh
  azure-cli/tests/test.bats
  azure-cli/tests/test.sh
  azure-cli/tests/tests.bats
  azure-cli/tests/tests.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update cmake to 3.16.0
  cmake/plan.ps1
  cmake/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

bump .net core to v3.1
  dotnet-asp-core/plan.ps1
  dotnet-asp-core/plan.sh
  dotnet-core-sdk/plan.ps1
  dotnet-core-sdk/plan.sh
  dotnet-core/plan.ps1
  dotnet-core/plan.sh
Owners: @defilan, @habitat-sh/habitat-core-plans-maintainers

fix broket aspnet test
  dotnet-asp-core/tests/test.bats
Owners: @defilan

Update ansible to 2.9.1
  ansible/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add workaround for hab studio bug where SSL_CERT_FILE gets set to something invalid
  ansible/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add tcl version test
  tcl/tests/test.bats
Owners: @fnichol, @smacfarlane

Add workaround for studio ssl issues in CI
  bin/ci/build-and-run-tests.sh
  bin/ci/verify-pr-build.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

updating version schema for proper YYYY.DD.MM format
  cacerts/plan.ps1
  cacerts/plan.sh
Owners: @fnichol, @smacfarlane

updating version schema for proper YYYY.DD.MM format
  cacerts/plan.ps1
  cacerts/plan.sh
Owners: @fnichol, @smacfarlane

[go] Upgrade go to 1.13.5
  go/plan.sh
Owners: @afiune, @predominant

Update node to 12.13.1
  node/plan.ps1
  node/plan.sh
  node12/plan.ps1
  node12/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update openssl from 1.0.2r to 1.0.2t to resolve multiple CVEs
  openssl/plan.sh
Owners: @fnichol, @reset, @echohack, @smacfarlane

Update openssl for Windows from 1.0.2r to 1.0.2t
  openssl/plan.ps1
Owners: @fnichol, @reset, @echohack, @smacfarlane

Added Rails6 support
  scaffolding-ruby/doc/reference.md
  scaffolding-ruby/lib/scaffolding.sh
Owners: @habitat-sh/scaffolding-maintainers

Update ansible to 2.9.2
  ansible/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update imagemagick to 7.0.9-9
  imagemagick/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update hugo to 0.61.0
  hugo/plan.sh
Owners: @tduffield, @cnunciato, @predominant

Update iptables to 1.8.4
  iptables/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update ipvsadm to 1.30, modernize tests, fix ipvsadm-save with coreutils dep
  ipvsadm/plan.sh
  ipvsadm/tests/test.bats
  ipvsadm/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[go][win] upgrade go to 1.13.5
  go/plan.ps1
Owners: @afiune, @predominant

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @smacfarlane
libsodium @smacfarlane
nginx @predominant
postgresql @irvingpop @habitat-sh/habitat-core-plans-maintainers
protobuf @smacfarlane @habitat-sh/habitat-core-plans-maintainers
protobuf-rust @smacfarlane @habitat-sh/habitat-core-plans-maintainers
zeromq @smacfarlane @habitat-sh/habitat-core-plans-maintainers

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol @smacfarlane
glibc @fnichol @reset @smacfarlane
zlib @fnichol @smacfarlane
file @fnichol @smacfarlane
binutils @fnichol @smacfarlane
m4 @fnichol @smacfarlane
gmp @fnichol @smacfarlane
mpfr @fnichol @smacfarlane
libmpc @fnichol @smacfarlane
gcc @fnichol @smacfarlane
gcc-libs @fnichol @reset @smacfarlane
patchelf @fnichol @smacfarlane
bzip2 @fnichol @smacfarlane
pkg-config @fnichol @smacfarlane
ncurses @fnichol @smacfarlane
attr @fnichol @smacfarlane
acl @fnichol @smacfarlane
libcap @fnichol @smacfarlane
sed @fnichol @smacfarlane
shadow @fnichol @smacfarlane
psmisc @fnichol @smacfarlane
procps-ng @fnichol @smacfarlane
coreutils @fnichol @smacfarlane
bison @fnichol @smacfarlane
flex @fnichol @smacfarlane
pcre @fnichol @smacfarlane
grep @fnichol @smacfarlane
readline @fnichol @smacfarlane
bash @fnichol @nellshamrell @smacfarlane
bc @fnichol @smacfarlane
tar @fnichol @nellshamrell @smacfarlane
gawk @fnichol @smacfarlane
libtool @fnichol @smacfarlane
gdbm @fnichol @smacfarlane
expat @fnichol @smacfarlane
db @fnichol @smacfarlane
inetutils @fnichol @smacfarlane
iana-etc @fnichol @smacfarlane
less @fnichol @smacfarlane
perl @fnichol @smacfarlane
diffutils @fnichol @smacfarlane
autoconf @fnichol @smacfarlane
automake @fnichol @smacfarlane
findutils @fnichol @smacfarlane
xz @fnichol @smacfarlane
gettext @fnichol @smacfarlane
gzip @fnichol @smacfarlane
make @fnichol @smacfarlane
patch @fnichol @smacfarlane
texinfo @fnichol @smacfarlane
util-linux @fnichol @smacfarlane
tcl @fnichol @smacfarlane
expect @fnichol @smacfarlane
dejagnu @fnichol @smacfarlane
check @fnichol @smacfarlane
libidn @fnichol @smacfarlane
cacerts @fnichol @smacfarlane
openssl @fnichol @reset @echohack @smacfarlane
wget @fnichol @smacfarlane
unzip @fnichol @nellshamrell @smacfarlane
rq @fnichol @smacfarlane
linux-headers-musl @fnichol @nellshamrell @smacfarlane
musl @fnichol @nellshamrell @smacfarlane
busybox-static @fnichol @smacfarlane
zlib-musl @fnichol @smacfarlane
bzip2-musl @fnichol @smacfarlane
xz-musl @fnichol @smacfarlane
libsodium-musl @fnichol @reset @smacfarlane
openssl-musl @fnichol @smacfarlane
libarchive-musl @fnichol @reset @smacfarlane
rust @fnichol @reset @raskchanky @nellshamrell @smacfarlane
vim @fnichol @nellshamrell @smacfarlane
libbsd @fnichol @smacfarlane
clens @fnichol @smacfarlane
mg @fnichol @smacfarlane
python-minimal @smacfarlane
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

alex @wduncanfraser
artifactory-pro @defilan
asciinema @jasonwbarnett
benchmark @bdangit
cabal-install @wduncanfraser
cerebro @predominant
clojure @johnjelinek
concourse @echohack
concourse-fly @echohack
consul @defilan @predominant
corretto @johnjelinek
corretto8 @johnjelinek
corretto11 @johnjelinek
cuda @bdangit
cuda-libs @bdangit
dcrpm @jasonwbarnett
dep @afiune @predominant
dotnet-47-dev-pack @mwrock
dotnet-asp-core @defilan
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant @echohack
fd @jasonwbarnett
filebeat @predominant @echohack
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @predominant
gocd-server @predominant
googletest @bdangit
grpcurl @afiune
happy @wduncanfraser
hugo @tduffield @cnunciato @predominant
innounp @mwrock
jenkins @predominant
journalbeat @thomascate @echohack
json-c @jasonwbarnett
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
mage @predominant
metricbeat @echohack
mssql @mwrock
nano @predominant
nmap @defilan
nss-myhostname @robbkidd
nuget @mwrock
openjdk11 @irvingpop
optipng @predominant
p4broker @dbhagen
pngquant @predominant
postgresql-client @joshbrand @irvingpop
postgresql11 @irvingpop
postgresql11-client @irvingpop
prometheus-cpp @bdangit
protobuf-cpp @afiune
redis @irvingpop
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack @predominant
tlog @jasonwbarnett
vault @defilan @predominant
visual-build-tools-2017 @mwrock
wrk @afiune @predominant
