Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @smacfarlane, @predominant, @irvingpop, @fnichol, @reset, @nellshamrell, @echohack, @raskchanky, @mwrock, @wduncanfraser, @defilan, @jasonwbarnett, @bdangit, @johnjelinek, @afiune, @joshbrand, @tduffield, @cnunciato, @thomascate, @robbkidd, @dbhagen

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @smacfarlane
libsodium @smacfarlane
nginx @predominant
postgresql @irvingpop @habitat-sh/habitat-core-plans-maintainers
protobuf @smacfarlane @habitat-sh/habitat-core-plans-maintainers
protobuf-rust @smacfarlane @habitat-sh/habitat-core-plans-maintainers
zeromq @smacfarlane @habitat-sh/habitat-core-plans-maintainers

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol @smacfarlane
glibc @fnichol @reset @smacfarlane
zlib @fnichol @smacfarlane
file @fnichol @smacfarlane
binutils @fnichol @smacfarlane
m4 @fnichol @smacfarlane
gmp @fnichol @smacfarlane
mpfr @fnichol @smacfarlane
libmpc @fnichol @smacfarlane
gcc @fnichol @smacfarlane
gcc-libs @fnichol @reset @smacfarlane
patchelf @fnichol @smacfarlane
bzip2 @fnichol @smacfarlane
pkg-config @fnichol @smacfarlane
ncurses @fnichol @smacfarlane
attr @fnichol @smacfarlane
acl @fnichol @smacfarlane
libcap @fnichol @smacfarlane
sed @fnichol @smacfarlane
shadow @fnichol @smacfarlane
psmisc @fnichol @smacfarlane
procps-ng @fnichol @smacfarlane
coreutils @fnichol @smacfarlane
bison @fnichol @smacfarlane
flex @fnichol @smacfarlane
pcre @fnichol @smacfarlane
grep @fnichol @smacfarlane
readline @fnichol @smacfarlane
bash @fnichol @nellshamrell @smacfarlane
bc @fnichol @smacfarlane
tar @fnichol @nellshamrell @smacfarlane
gawk @fnichol @smacfarlane
libtool @fnichol @smacfarlane
gdbm @fnichol @smacfarlane
expat @fnichol @smacfarlane
db @fnichol @smacfarlane
inetutils @fnichol @smacfarlane
iana-etc @fnichol @smacfarlane
less @fnichol @smacfarlane
perl @fnichol @smacfarlane
diffutils @fnichol @smacfarlane
autoconf @fnichol @smacfarlane
automake @fnichol @smacfarlane
findutils @fnichol @smacfarlane
xz @fnichol @smacfarlane
gettext @fnichol @smacfarlane
gzip @fnichol @smacfarlane
make @fnichol @smacfarlane
patch @fnichol @smacfarlane
texinfo @fnichol @smacfarlane
util-linux @fnichol @smacfarlane
tcl @fnichol @smacfarlane
expect @fnichol @smacfarlane
dejagnu @fnichol @smacfarlane
check @fnichol @smacfarlane
libidn @fnichol @smacfarlane
cacerts @fnichol @smacfarlane
openssl @fnichol @reset @echohack @smacfarlane
wget @fnichol @smacfarlane
unzip @fnichol @nellshamrell @smacfarlane
rq @fnichol @smacfarlane
linux-headers-musl @fnichol @nellshamrell @smacfarlane
musl @fnichol @nellshamrell @smacfarlane
busybox-static @fnichol @smacfarlane
zlib-musl @fnichol @smacfarlane
bzip2-musl @fnichol @smacfarlane
xz-musl @fnichol @smacfarlane
libsodium-musl @fnichol @reset @smacfarlane
openssl-musl @fnichol @smacfarlane
libarchive-musl @fnichol @reset @smacfarlane
rust @fnichol @reset @raskchanky @nellshamrell @smacfarlane
vim @fnichol @nellshamrell @smacfarlane
libbsd @fnichol @smacfarlane
clens @fnichol @smacfarlane
mg @fnichol @smacfarlane
python-minimal @smacfarlane
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

alex @wduncanfraser
artifactory-pro @defilan
asciinema @jasonwbarnett
benchmark @bdangit
cabal-install @wduncanfraser
cerebro @predominant
clojure @johnjelinek
concourse @echohack
concourse-fly @echohack
consul @defilan @predominant
corretto @johnjelinek
corretto8 @johnjelinek
corretto11 @johnjelinek
cuda @bdangit
cuda-libs @bdangit
dcrpm @jasonwbarnett
dep @afiune @predominant
dotnet-47-dev-pack @mwrock
dotnet-asp-core @defilan
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant @echohack
fd @jasonwbarnett
filebeat @predominant @echohack
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @predominant
gocd-server @predominant
googletest @bdangit
grpcurl @afiune
happy @wduncanfraser
hugo @tduffield @cnunciato @predominant
innounp @mwrock
jenkins @predominant
journalbeat @thomascate @echohack
json-c @jasonwbarnett
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
mage @predominant
metricbeat @echohack
mssql @mwrock
nano @predominant
nmap @defilan
nss-myhostname @robbkidd
nuget @mwrock
openjdk11 @irvingpop
optipng @predominant
p4broker @dbhagen
pngquant @predominant
postgresql-client @joshbrand @irvingpop
postgresql11 @irvingpop
postgresql11-client @irvingpop
prometheus-cpp @bdangit
protobuf-cpp @afiune
redis @irvingpop
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack @predominant
tlog @jasonwbarnett
vault @defilan @predominant
visual-build-tools-2017 @mwrock
wrk @afiune @predominant

Add tests to core/perl * for windows and linux * fixing the windows stdout issue according to #2745
  perl/tests/test.bats
  perl/tests/test.sh
Owners: @fnichol, @smacfarlane

Re-add diffutils as a dependency
  coreutils/plan.sh
Owners: @fnichol, @smacfarlane

Add tests for core/acl and * remove the '[[' from the test verification
  acl/tests/test.bats
Owners: @fnichol, @smacfarlane

Add tests to core/bzip2 * for windows and linux plans * simplifying the regex verification in the tests * updating from 1.0.6 to 1.0.8 and change source URL to fossies.org
  bzip2/plan.ps1
  bzip2/plan.sh
  bzip2/tests/test.bats
  bzip2/tests/test.pester.ps1
  bzip2/tests/test.ps1
  bzip2/tests/test.sh
Owners: @fnichol, @smacfarlane

Replace jdk8 with corretto8 and add service tests
  gocd-server/hooks/run
  gocd-server/plan.sh
  gocd-server/tests/test.bats
  gocd-server/tests/test.sh
Owners: @predominant

[grafana] update to 6.4.3
  grafana/config/dashboard.yaml
  grafana/config/datasource-prometheus.yaml
  grafana/config/grafana.ini
  grafana/config/ldap.toml
  grafana/config/prometheus-node_exporter_full.json
  grafana/config/prometheus-stats_extended.json
  grafana/hooks/init
  grafana/hooks/post-run
  grafana/hooks/run
  grafana/plan.sh
  grafana/tests/test.bats
  grafana/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Added nginx exporter
  .bldr.toml
  nginx-prometheus-exporter/README.md
  nginx-prometheus-exporter/default.toml
  nginx-prometheus-exporter/hooks/run
  nginx-prometheus-exporter/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update jenkins to 2.190.2
  jenkins/plan.sh
Owners: @predominant

Update node_exporter to 0.18.1, update config, add tests
  node_exporter/default.toml
  node_exporter/hooks/run
  node_exporter/plan.sh
  node_exporter/tests/test.bats
  node_exporter/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update jffi to 1.2.22
  jffi/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update prometheus to 2.13.1
  prometheus/plan.sh
  prometheus/tests/test.bats
  prometheus/tests/test.sh
  prometheus2/plan.sh
  prometheus2/tests/test.bats
  prometheus2/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[prometheus] fix the configs
  prometheus/config/prometheus.yml
  prometheus1/config/prometheus.yml
  prometheus2/config/prometheus.yml
Owners: @habitat-sh/habitat-core-plans-maintainers

[grafana-loki] add new plan
  .bldr.toml
  grafana-loki/README.md
  grafana-loki/config/config.yaml
  grafana-loki/default.toml
  grafana-loki/plan.sh
  grafana-loki/tests/test.bats
  grafana-loki/tests/test.sh
  grafana/README.md
  grafana/config/datasource-loki.yaml
  grafana/hooks/post-run
  grafana/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[grafana-promtail] add new plan
  .bldr.toml
  grafana-promtail/README.md
  grafana-promtail/config/config.yaml
  grafana-promtail/default.toml
  grafana-promtail/plan.sh
  grafana-promtail/tests/test.bats
  grafana-promtail/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Added ghc86 plan for windows
  ghc86/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

Updated cabal-install to 3.0.0.0
  cabal-install/plan.ps1
  cabal-install/plan.sh
Owners: @wduncanfraser

Updated shellcheck to 0.7.0
  shellcheck/plan.ps1
  shellcheck/plan.sh
Owners: @wduncanfraser

Updated happy to 1.19.12
  happy/plan.sh
Owners: @wduncanfraser

Fix alex builds for ghc 8.8
  alex/plan.sh
Owners: @wduncanfraser

Update terraform to 0.12.13
  terraform/plan.sh
Owners: @defilan, @echohack, @predominant

Update hugo to 0.59.1
  hugo/plan.sh
Owners: @tduffield, @cnunciato, @predominant

Patch in the core/rust version uplift applied to master but not to refresh/2019q3 branch. See PR https://github.com/habitat-sh/core-plans/pull/3045/files
  rust/plan.ps1
  rust/plan.sh
Owners: @fnichol, @reset, @raskchanky, @nellshamrell, @smacfarlane

Update packer to 1.4.5
  packer/plan.ps1
  packer/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update sassc to 3.6.1, use do_verify for download verification
  sassc/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add TLS support to memcache
  memcached/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[powershell] add linux plan
  powershell/plan.sh
  powershell/tests/test.bats
  powershell/tests/test.pester.ps1
  powershell/tests/test.ps1
  powershell/tests/test.sh
Owners: @mwrock

Update Rust to 1.39.0
  rust/plan.ps1
  rust/plan.sh
Owners: @fnichol, @reset, @raskchanky, @nellshamrell, @smacfarlane

[nginx] add basic reverse proxy capabilities
  nginx/config/nginx.conf
  nginx/plan.ps1
  nginx/plan.sh
Owners: @predominant

[grpc-cpp] update to 1.25.0
  grpc-cpp/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[pester] add linux plan
  pester/README.md
  pester/plan.sh
  pester/tests/test.bats
  pester/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update libarchive to 3.4.0
  libarchive/plan.ps1
  libarchive/plan.sh
Owners: @smacfarlane

Update libxml2 to 2.9.10
  libxml2/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update libxslt to 1.1.34 to resolve CVE-2019-13117
  libxslt/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update HAProxy to 2.0.9
  haproxy/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Updated GHC to 8.8.1 Added GHC 8.8 plan Updated ghc 8.6 as appropriate to maintain build deps Updated .bldr.toml
  .bldr.toml
  ghc/plan.ps1
  ghc/plan.sh
  ghc88/README.md
  ghc88/plan.sh
  ghc88/tests/test.bats
  ghc88/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers, @wduncanfraser

Add core/libarchive to base-plans.txt and update the version
  base-plans.txt
  libarchive/plan.ps1
  libarchive/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers, @smacfarlane

Lift core/openssl version to 1.0.2t for both windows and linux plans
  openssl/plan.ps1
  openssl/plan.sh
Owners: @fnichol, @reset, @echohack, @smacfarlane

Lock XMLParser to known good version
  shared-mime-info/plan.sh
  shared-mime-info/tests/test.bats
  shared-mime-info/tests/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Fix the shared-mime-info build by passing in the LD_LIBRARY_PATH wit core/expat into the cpanm build
  shared-mime-info/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[file] export MAGIC path to runtime env
  file/plan.sh
Owners: @fnichol, @smacfarlane
