Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @smacfarlane, @predominant, @irvingpop, @fnichol, @reset, @nellshamrell, @echohack, @raskchanky, @mwrock, @wduncanfraser, @defilan, @jasonwbarnett, @bdangit, @johnjelinek, @afiune, @joshbrand, @tduffield, @cnunciato, @thomascate, @robbkidd, @dbhagen

[gawk] Update to 5.0, add tests
  gawk/plan.sh
  gawk/tests/test.bats
  gawk/tests/test.sh
Owners: @fnichol, @smacfarlane

Updated bison to latest version.
  bison/plan.sh
Owners: @fnichol, @smacfarlane

[tar] Update to 1.32, remove test patch, add BATS test
  tar/README.md
  tar/plan.sh
  tar/skip-test.patch
  tar/tests/test.bats
  tar/tests/test.sh
Owners: @fnichol, @nellshamrell, @smacfarlane

Update bison to 3.4.1
  bison/plan.sh
  bison/tests/test.bats
  bison/tests/test.sh
Owners: @fnichol, @smacfarlane

Update attr license to match SPDX
  attr/plan.sh
  attr/tests/test.bats
  attr/tests/test.sh
Owners: @fnichol, @smacfarlane

Update autoconf license string
  autoconf/plan.sh
  autoconf/tests/test.bats
  autoconf/tests/test.sh
Owners: @fnichol, @smacfarlane

Update util-linux
  util-linux/plan.sh
  util-linux/tests/test.bats
  util-linux/tests/test.sh
Owners: @fnichol, @smacfarlane

Update iana-etc license string
  iana-etc/plan.sh
  iana-etc/tests/test.sh
Owners: @fnichol, @smacfarlane

Update make
  make/plan.sh
  make/tests/fixtures/Makefile
  make/tests/test.bats
  make/tests/test.sh
Owners: @fnichol, @smacfarlane

Add tests to core/perl * for windows and linux * fixing the windows stdout issue according to #2745
  perl/tests/test.bats
  perl/tests/test.pester.ps1
  perl/tests/test.ps1
  perl/tests/test.sh
Owners: @fnichol, @smacfarlane

Update gettext
  gettext/plan.sh
  gettext/tests/test.bats
  gettext/tests/test.sh
Owners: @fnichol, @smacfarlane

Update libtool license and add tests
  libtool/plan.sh
  libtool/tests/test.bats
  libtool/tests/test.sh
Owners: @fnichol, @smacfarlane

Update expat
  expat/plan.sh
  expat/tests/fixtures/mismatched-tag.xml
  expat/tests/fixtures/valid.xml
  expat/tests/test.bats
  expat/tests/test.sh
Owners: @fnichol, @smacfarlane

Update automake
  automake/plan.sh
  automake/tests/test.bats
  automake/tests/test.sh
Owners: @fnichol, @smacfarlane

Update gzip to 1.10
  gzip/plan.sh
  gzip/tests/test.bats
  gzip/tests/test.sh
Owners: @fnichol, @smacfarlane

[bc] Add tests
  bc/plan.sh
  bc/tests/test.bats
  bc/tests/test.sh
Owners: @fnichol, @smacfarlane

Update texinfo
  texinfo/plan.sh
  texinfo/tests/test.bats
  texinfo/tests/test.sh
Owners: @fnichol, @smacfarlane

Update tcl to 8.6.9
  tcl/plan.sh
  tcl/tests/fixtures/simple.tcl
  tcl/tests/test.bats
  tcl/tests/test.sh
Owners: @fnichol, @smacfarlane

Update patch
  patch/plan.sh
  patch/tests/test.bats
  patch/tests/test.sh
Owners: @fnichol, @smacfarlane

Update perl to 5.30
  perl/no-sys-dirs.patch
  perl/plan.ps1
  perl/plan.sh
  perl/tests/fixtures/hello.pl
  perl/tests/test.bats
  perl/tests/test.sh
Owners: @fnichol, @smacfarlane

Patch m4 and add test
  m4/glibc-change-workaround.patch
  m4/plan.sh
  m4/tests/test.bats
  m4/tests/test.sh
Owners: @fnichol, @smacfarlane

Patch findutils for glibc-2.29
  findutils/correct-glibc-fflush.patch
  findutils/correct-glibc-makedev.patch
  findutils/plan.sh
  findutils/tests/test.bats
  findutils/tests/test.sh
Owners: @fnichol, @smacfarlane

Add tests for gcc
  gcc/tests/bats/test.bats
  gcc/tests/test.sh
Owners: @fnichol, @smacfarlane

Add tests for glibc
  glibc/tests/bats/test.bats
  glibc/tests/test.sh
Owners: @fnichol, @reset, @smacfarlane

Update to glibc-2.29
  glibc/plan.sh
  glibc/testsuite-fix.patch
Owners: @fnichol, @reset, @smacfarlane

Update to GCC 9.1
  gcc/plan.sh
Owners: @fnichol, @smacfarlane

Build with stack-protector=strong
  glibc/plan.sh
Owners: @fnichol, @reset, @smacfarlane

Update inetutils license and add simple test
  inetutils/plan.sh
  inetutils/tests/test.bats
  inetutils/tests/test.sh
Owners: @fnichol, @smacfarlane

Update GMP build and add tests
  gmp/plan.sh
  gmp/tests/test.sh
Owners: @fnichol, @smacfarlane

Address Feedback and add tests
  glibc/plan.sh
  glibc/tests/bats/test.bats
  glibc/tests/test.sh
Owners: @fnichol, @reset, @smacfarlane

Change python to python-minimal
  glibc/plan.sh
Owners: @fnichol, @reset, @smacfarlane

Build with Intel Control Enforcement
  glibc/plan.sh
Owners: @fnichol, @reset, @smacfarlane

Remove deprecated option from TZ generation
  glibc/plan.sh
  glibc/tests/bats/test.bats
  glibc/tests/test.sh
Owners: @fnichol, @reset, @smacfarlane

Update bash
  bash/bash-patches.sh
  bash/plan.sh
  bash/tests/test.bats
  bash/tests/test.sh
Owners: @fnichol, @nellshamrell, @smacfarlane

Update gcc-libs
  bin/ci/build-and-run-tests.sh
  bin/ci/verify-pr-build.sh
  gcc-libs/plan.sh
  gcc/cc-wrapper.sh
  gcc/tests/bats/test.bats
Owners: @habitat-sh/habitat-core-plans-maintainers, @fnichol, @reset, @smacfarlane

Update diffutils to 3.7
  diffutils/plan.sh
  diffutils/tests/fixtures/alpha
  diffutils/tests/fixtures/beta
  diffutils/tests/test.bats
  diffutils/tests/test.sh
Owners: @fnichol, @smacfarlane

Update binutils to 2.32
  binutils/ld-wrapper.sh
  binutils/plan.sh
  binutils/tests/test.bats
  binutils/tests/test.sh
Owners: @fnichol, @smacfarlane

Update libmpc build and add tests
  libmpc/plan.sh
  libmpc/tests/test.sh
Owners: @fnichol, @smacfarlane

Update mpfr
  mpfr/plan.sh
  mpfr/tests/test.sh
Owners: @fnichol, @smacfarlane

Uplift openssl version 1.0.2s and * add tests to core/openssl for windows and linux plans * update windows tests to parse the openssl version and to perform a successful encoding
  openssl/plan.ps1
  openssl/plan.sh
  openssl/tests/test.bats
  openssl/tests/test.pester.ps1
  openssl/tests/test.ps1
  openssl/tests/test.sh
Owners: @fnichol, @reset, @echohack, @smacfarlane

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @smacfarlane
libsodium @smacfarlane
nginx @predominant
postgresql @irvingpop @habitat-sh/habitat-core-plans-maintainers
protobuf @smacfarlane @habitat-sh/habitat-core-plans-maintainers
protobuf-rust @smacfarlane @habitat-sh/habitat-core-plans-maintainers
zeromq @smacfarlane @habitat-sh/habitat-core-plans-maintainers

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol @smacfarlane
glibc @fnichol @reset @smacfarlane
zlib @fnichol @smacfarlane
file @fnichol @smacfarlane
binutils @fnichol @smacfarlane
m4 @fnichol @smacfarlane
gmp @fnichol @smacfarlane
mpfr @fnichol @smacfarlane
libmpc @fnichol @smacfarlane
gcc @fnichol @smacfarlane
gcc-libs @fnichol @reset @smacfarlane
patchelf @fnichol @smacfarlane
bzip2 @fnichol @smacfarlane
pkg-config @fnichol @smacfarlane
ncurses @fnichol @smacfarlane
attr @fnichol @smacfarlane
acl @fnichol @smacfarlane
libcap @fnichol @smacfarlane
sed @fnichol @smacfarlane
shadow @fnichol @smacfarlane
psmisc @fnichol @smacfarlane
procps-ng @fnichol @smacfarlane
coreutils @fnichol @smacfarlane
bison @fnichol @smacfarlane
flex @fnichol @smacfarlane
pcre @fnichol @smacfarlane
grep @fnichol @smacfarlane
readline @fnichol @smacfarlane
bash @fnichol @nellshamrell @smacfarlane
bc @fnichol @smacfarlane
tar @fnichol @nellshamrell @smacfarlane
gawk @fnichol @smacfarlane
libtool @fnichol @smacfarlane
gdbm @fnichol @smacfarlane
expat @fnichol @smacfarlane
db @fnichol @smacfarlane
inetutils @fnichol @smacfarlane
iana-etc @fnichol @smacfarlane
less @fnichol @smacfarlane
perl @fnichol @smacfarlane
diffutils @fnichol @smacfarlane
autoconf @fnichol @smacfarlane
automake @fnichol @smacfarlane
findutils @fnichol @smacfarlane
xz @fnichol @smacfarlane
gettext @fnichol @smacfarlane
gzip @fnichol @smacfarlane
make @fnichol @smacfarlane
patch @fnichol @smacfarlane
texinfo @fnichol @smacfarlane
util-linux @fnichol @smacfarlane
tcl @fnichol @smacfarlane
expect @fnichol @smacfarlane
dejagnu @fnichol @smacfarlane
check @fnichol @smacfarlane
libidn @fnichol @smacfarlane
cacerts @fnichol @smacfarlane
openssl @fnichol @reset @echohack @smacfarlane
wget @fnichol @smacfarlane
unzip @fnichol @nellshamrell @smacfarlane
rq @fnichol @smacfarlane
linux-headers-musl @fnichol @nellshamrell @smacfarlane
musl @fnichol @nellshamrell @smacfarlane
busybox-static @fnichol @smacfarlane
zlib-musl @fnichol @smacfarlane
bzip2-musl @fnichol @smacfarlane
xz-musl @fnichol @smacfarlane
libsodium-musl @fnichol @reset @smacfarlane
openssl-musl @fnichol @smacfarlane
libarchive-musl @fnichol @reset @smacfarlane
rust @fnichol @reset @raskchanky @nellshamrell @smacfarlane
vim @fnichol @nellshamrell @smacfarlane
libbsd @fnichol @smacfarlane
clens @fnichol @smacfarlane
mg @fnichol @smacfarlane
python-minimal @smacfarlane
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

alex @wduncanfraser
artifactory-pro @defilan
asciinema @jasonwbarnett
benchmark @bdangit
cabal-install @wduncanfraser
cerebro @predominant
clojure @johnjelinek
concourse @echohack
concourse-fly @echohack
consul @defilan @predominant
corretto @johnjelinek
corretto8 @johnjelinek
corretto11 @johnjelinek
cuda @bdangit
cuda-libs @bdangit
dcrpm @jasonwbarnett
dep @afiune @predominant
dotnet-47-dev-pack @mwrock
dotnet-asp-core @defilan
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant @echohack
fd @jasonwbarnett
filebeat @predominant @echohack
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @predominant
gocd-server @predominant
googletest @bdangit
grpcurl @afiune
happy @wduncanfraser
hugo @tduffield @cnunciato @predominant
innounp @mwrock
jenkins @predominant
journalbeat @thomascate @echohack
json-c @jasonwbarnett
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
mage @predominant
metricbeat @echohack
mssql @mwrock
nano @predominant
nmap @defilan
nss-myhostname @robbkidd
nuget @mwrock
openjdk11 @irvingpop
optipng @predominant
p4broker @dbhagen
pngquant @predominant
postgresql-client @joshbrand @irvingpop
postgresql11 @irvingpop
postgresql11-client @irvingpop
prometheus-cpp @bdangit
protobuf-cpp @afiune
redis @irvingpop
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack @predominant
tlog @jasonwbarnett
vault @defilan @predominant
visual-build-tools-2017 @mwrock
wrk @afiune @predominant
