Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @reset, @fnichol, @raskchanky, @nellshamrell, @irvingpop, @mwrock, @rsertelon, @wduncanfraser, @defilan, @predominant, @echohack, @afiune, @joshbrand, @tduffield, @cnunciato, @dbhagen

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @reset @fnichol @raskchanky @nellshamrell
libsodium @reset @fnichol @raskchanky @nellshamrell
nginx @reset @fnichol @raskchanky @nellshamrell
postgresql @reset @fnichol @irvingpop @raskchanky @nellshamrell
protobuf @reset @fnichol @raskchanky @nellshamrell
protobuf-rust @reset @fnichol @raskchanky @nellshamrell
zeromq @reset @fnichol @raskchanky @nellshamrell

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol
glibc @fnichol @reset
zlib @fnichol
file @fnichol
binutils @fnichol
m4 @fnichol
gmp @fnichol
mpfr @fnichol
libmpc @fnichol
gcc @fnichol
gcc-libs @fnichol @reset
patchelf @fnichol
bzip2 @fnichol
pkg-config @fnichol
ncurses @fnichol
attr @fnichol
acl @fnichol
libcap @fnichol
sed @fnichol
shadow @fnichol
psmisc @fnichol
procps-ng @fnichol
coreutils @fnichol
bison @fnichol
flex @fnichol
pcre @fnichol
grep @fnichol
readline @fnichol
bash @fnichol @nellshamrell
bc @fnichol
tar @fnichol @nellshamrell
gawk @fnichol
libtool @fnichol
gdbm @fnichol
expat @fnichol
db @fnichol
inetutils @fnichol
iana-etc @fnichol
less @fnichol
perl @fnichol
diffutils @fnichol
autoconf @fnichol
automake @fnichol
findutils @fnichol
xz @fnichol
gettext @fnichol
gzip @fnichol
make @fnichol
patch @fnichol
texinfo @fnichol
util-linux @fnichol
tcl @fnichol
expect @fnichol
dejagnu @fnichol
check @fnichol
libidn @fnichol
cacerts @fnichol
openssl @fnichol @reset
wget @fnichol
unzip @fnichol @nellshamrell
rq @fnichol
linux-headers-musl @fnichol @nellshamrell
musl @fnichol @nellshamrell
busybox-static @fnichol
zlib-musl @fnichol
bzip2-musl @fnichol
xz-musl @fnichol
libsodium-musl @fnichol @reset
openssl-musl @fnichol
libarchive-musl @fnichol @reset
rust @fnichol @reset @raskchanky @nellshamrell
vim @fnichol @nellshamrell
libbsd @fnichol
clens @fnichol
mg @fnichol
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

acbuild @rsertelon
alex @wduncanfraser
artifactory-pro @defilan
atk @rsertelon
cabal-install @wduncanfraser
cairo @rsertelon
cerebro @predominant
concourse @echohack
concourse-fly @echohack
consul @defilan
dep @afiune @nellshamrell
dotnet-47-dev-pack @mwrock
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant
filebeat @predominant
gdk-pixbuf @rsertelon
glib @rsertelon
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @nellshamrell
gocd-server @predominant
grpcurl @afiune
gtk2 @rsertelon
happy @wduncanfraser
harfbuzz @rsertelon
hugo @tduffield @cnunciato
innounp @mwrock
jdk7 @predominant @rsertelon
jdk8 @predominant @rsertelon
jdk9 @predominant @rsertelon
jenkins @predominant
jre7 @predominant @rsertelon
jre8 @predominant @rsertelon
jre9 @predominant @rsertelon
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
monit @rsertelon
mosquitto @rsertelon
mssql @mwrock
nano @predominant
nmap @defilan
nuget @mwrock
optipng @predominant
p4broker @dbhagen
pango @rsertelon
pngquant @predominant
postgresql-client @joshbrand @irvingpop
protobuf-cpp @afiune
rabbitmqadmin @predominant
redis @irvingpop
shared-mime-info @rsertelon
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack
vault @defilan @dbhagen
visual-build-tools-2017 @mwrock
wrk @afiune

lock dsc apply calls to a single thread
  dsc-core/DSCCore.psd1
  dsc-core/DSCCore.psm1
  dsc-core/README.md
  dsc-core/plan.ps1
Owners: @mwrock

Update terraform to 0.11.8, add testing
  terraform/plan.sh
  terraform/test.bats
  terraform/test.sh
Owners: @defilan, @echohack

Quoting
  terraform/test.sh
Owners: @defilan, @echohack

updates minio to the latest version
  minio/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Bump version/shasum of docutils to latest - 0.14
  docutils/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Node updates, all *nix plans
  node/plan.sh
  node10/plan.sh
  node6/plan.sh
  node8/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add README
  mongodb/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Update hugo to 0.47, and add testing
  hugo/plan.sh
  hugo/test.bats
  hugo/test.sh
Owners: @tduffield, @cnunciato

Update minio
  minio/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

lift powershell version restriction
  ps-lock/PSLock.psd1
Owners: @habitat-sh/habitat-core-plans-maintainers

fix to handle Pending states
  dsc-core/DSCCore.psm1
Owners: @mwrock

updates jre and fixes build
  jre8/plan.sh
Owners: @predominant, @rsertelon

Working build, just adding testing
  sumologic/README.md
  sumologic/config/wrapper-license.conf
  sumologic/hooks/run
  sumologic/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add advanced redirect feature to nginx plan.
  nginx/config/nginx.conf
  nginx/default.toml
Owners: @reset, @fnichol, @raskchanky, @nellshamrell

Update jenkins to 2.121.3 - Security updates
  jenkins/plan.sh
Owners: @predominant

Ignore SC2164
  jre8/plan.sh
Owners: @predominant, @rsertelon

[kubernetes] Upgrade to k8s 1.11.2
  kubernetes-apiserver/plan.sh
  kubernetes-controller-manager/plan.sh
  kubernetes-kubelet/plan.sh
  kubernetes-proxy/plan.sh
  kubernetes-scheduler/plan.sh
  kubernetes/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Before rebase
  sumologic/README.md
  sumologic/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Working build, just adding testing
  sumologic/README.md
  sumologic/config/wrapper-license.conf
  sumologic/hooks/run
  sumologic/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Tidying up code
  sumologic/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Updated test
  sumologic/README.md
  sumologic/plan.sh
  sumologic/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Spelling is hard
  sumologic/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

[Version Bump] Upgrade Go to 1.11
  go/plan.sh
Owners: @afiune, @nellshamrell

update to 0.4.2 and make sure tests execute
  prometheus-cpp/README.md
  prometheus-cpp/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[openssl] Enable FIPS mode in the openssl plan, add an openssl-fips plan that packages the FIPS canister
  .bldr.toml
  openssl-fips/plan.sh
  openssl/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers, @fnichol, @reset

WIP: Added libsasl2
  libsasl2/README.md
  libsasl2/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Remove line
  libsasl2/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Upgrade nginx to 1.15.3, add tests
  nginx/plan.sh
  nginx/test.bats
  nginx/test.sh
Owners: @reset, @fnichol, @raskchanky, @nellshamrell

[openssl] For better FIPS compliance, don't modify the code to fix /bin/rm, rather binlink it in the studio if needed
  openssl-fips/plan.sh
  openssl/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers, @fnichol, @reset

[openssl] Disable zlib in openssl to bring us in sync with omnibus-software and mitigating for CVE-2012-4929
  openssl/plan.sh
Owners: @fnichol, @reset

Upgrade hugo to 0.48, add tests
  hugo/plan.sh
  hugo/test.bats
  hugo/test.sh
Owners: @tduffield, @cnunciato

Update mage origin
  hugo/plan.sh
Owners: @tduffield, @cnunciato
