Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @reset, @fnichol, @raskchanky, @nellshamrell, @irvingpop, @mwrock, @rsertelon, @wduncanfraser, @defilan, @predominant, @echohack, @afiune, @joshbrand, @tduffield, @cnunciato, @dbhagen

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @reset @fnichol @raskchanky @nellshamrell
libsodium @reset @fnichol @raskchanky @nellshamrell
nginx @reset @fnichol @raskchanky @nellshamrell
postgresql @reset @fnichol @irvingpop @raskchanky @nellshamrell
protobuf @reset @fnichol @raskchanky @nellshamrell
protobuf-rust @reset @fnichol @raskchanky @nellshamrell
zeromq @reset @fnichol @raskchanky @nellshamrell

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol
glibc @fnichol @reset
zlib @fnichol
file @fnichol
binutils @fnichol
m4 @fnichol
gmp @fnichol
mpfr @fnichol
libmpc @fnichol
gcc @fnichol
gcc-libs @fnichol @reset
patchelf @fnichol
bzip2 @fnichol
pkg-config @fnichol
ncurses @fnichol
attr @fnichol
acl @fnichol
libcap @fnichol
sed @fnichol
shadow @fnichol
psmisc @fnichol
procps-ng @fnichol
coreutils @fnichol
bison @fnichol
flex @fnichol
pcre @fnichol
grep @fnichol
readline @fnichol
bash @fnichol @nellshamrell
bc @fnichol
tar @fnichol @nellshamrell
gawk @fnichol
libtool @fnichol
gdbm @fnichol
expat @fnichol
db @fnichol
inetutils @fnichol
iana-etc @fnichol
less @fnichol
perl @fnichol
diffutils @fnichol
autoconf @fnichol
automake @fnichol
findutils @fnichol
xz @fnichol
gettext @fnichol
gzip @fnichol
make @fnichol
patch @fnichol
texinfo @fnichol
util-linux @fnichol
tcl @fnichol
expect @fnichol
dejagnu @fnichol
check @fnichol
libidn @fnichol
cacerts @fnichol
openssl @fnichol @reset
wget @fnichol
unzip @fnichol @nellshamrell
rq @fnichol
linux-headers-musl @fnichol @nellshamrell
musl @fnichol @nellshamrell
busybox-static @fnichol
zlib-musl @fnichol
bzip2-musl @fnichol
xz-musl @fnichol
libsodium-musl @fnichol @reset
openssl-musl @fnichol
libarchive-musl @fnichol @reset
rust @fnichol @reset @raskchanky @nellshamrell
vim @fnichol @nellshamrell
libbsd @fnichol
clens @fnichol
mg @fnichol
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

acbuild @rsertelon
alex @wduncanfraser
artifactory-pro @defilan
atk @rsertelon
cabal-install @wduncanfraser
cairo @rsertelon
cerebro @predominant
concourse @echohack
concourse-fly @echohack
consul @defilan
dep @afiune @nellshamrell
dotnet-47-dev-pack @mwrock
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant
filebeat @predominant
gdk-pixbuf @rsertelon
glib @rsertelon
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @nellshamrell
gocd-server @predominant
grpcurl @afiune
gtk2 @rsertelon
happy @wduncanfraser
harfbuzz @rsertelon
hugo @tduffield @cnunciato
innounp @mwrock
jdk7 @predominant @rsertelon
jdk8 @predominant @rsertelon
jdk9 @predominant @rsertelon
jenkins @predominant
jre7 @predominant @rsertelon
jre8 @predominant @rsertelon
jre9 @predominant @rsertelon
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
monit @rsertelon
mosquitto @rsertelon
mssql @mwrock
nano @predominant
nmap @defilan
nuget @mwrock
optipng @predominant
p4broker @dbhagen
pango @rsertelon
pngquant @predominant
postgresql-client @joshbrand @irvingpop
protobuf-cpp @afiune
rabbitmqadmin @predominant
redis @irvingpop
shared-mime-info @rsertelon
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack
vault @defilan @dbhagen
visual-build-tools-2017 @mwrock
wrk @afiune

add packer for windows
  packer/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

clean out newline
  packer/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

Update nginx to 1.15.2
  nginx/plan.sh
Owners: @reset, @fnichol, @raskchanky, @nellshamrell

Fix license to SPDX identifier
  nginx/plan.sh
Owners: @reset, @fnichol, @raskchanky, @nellshamrell

Update etcd to 3.3.9
  etcd/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update strace to 4.23
  strace/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update RabbitMQ to 3.7.7
  rabbitmq/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update RabbitMQ Admin to 3.7.7
  rabbitmqadmin/plan.sh
Owners: @predominant

Add initial chef-client run with no splay or interval
  scaffolding-chef/lib/scaffolding.sh
Owners: @habitat-sh/scaffolding-maintainers

Make first run separate exec call
  scaffolding-chef/lib/scaffolding.sh
Owners: @habitat-sh/scaffolding-maintainers

Add --once option to initial run in chef scaffolding
  scaffolding-chef/lib/scaffolding.sh
Owners: @habitat-sh/scaffolding-maintainers

Update hugo to 0.45.1
  hugo/plan.sh
Owners: @tduffield, @cnunciato

Update vault to 0.10.4
  vault/plan.sh
Owners: @defilan, @dbhagen

Increase version number of scaffolding-chef
  scaffolding-chef/plan.sh
Owners: @habitat-sh/scaffolding-maintainers

Move chef-client --once into init hook
  scaffolding-chef/lib/scaffolding.sh
  scaffolding-chef/plan.sh
Owners: @habitat-sh/scaffolding-maintainers

Bump versions for gnatsd and nats-streaming-server
  gnatsd/plan.sh
  nats-streaming-server/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update golang dep to 0.5.0
  dep/plan.sh
Owners: @afiune, @nellshamrell

Add runtime glibc dep to filebeat
  filebeat/plan.sh
Owners: @predominant

Added leproxy
  leproxy/README.md
  leproxy/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Added leproxy to .bldr.toml
  .bldr.toml
Owners: @habitat-sh/habitat-core-plans-maintainers

Update patchelf download url
  patchelf/plan.sh
Owners: @fnichol

Update consul to 1.2.2, quote variables
  consul/plan.sh
Owners: @defilan

First pass at testing script
  consul/test.sh
Owners: @defilan

Quoting
  consul/test.sh
Owners: @defilan

Quoting numbers.. not sure about this
  consul/test.sh
Owners: @defilan

add plan for sbt
  .bldr.toml
  sbt/README.md
  sbt/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[sbt] double quote paths to prevent globbing
  sbt/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

fixes
  sbt/README.md
  sbt/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Remove unnecessary deps
  leproxy/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update redis to 3.2.12
  redis3/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Fix build failures in wordpress-proxy
  wordpress-proxy/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Fix build failures in shield-proxy
  shield-proxy/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Cleanup plan file, add usage instructions
  graphviz/README.md
  graphviz/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add usage information
  git/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Update protobuf to 3.6.1
  protobuf/plan.sh
Owners: @reset, @fnichol, @raskchanky, @nellshamrell

Update protobuf-cpp to 3.6.1
  protobuf-cpp/plan.sh
Owners: @afiune

Update protobuf-rust to 1.7.4
  protobuf-rust/plan.sh
Owners: @reset, @fnichol, @raskchanky, @nellshamrell

tweak readme
  sbt/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Update Kubectl to latest
  kubectl/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

update Go plan
  go/plan.sh
Owners: @afiune, @nellshamrell
