Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @reset, @fnichol, @raskchanky, @nellshamrell, @irvingpop, @mwrock, @rsertelon, @wduncanfraser, @defilan, @predominant, @echohack, @afiune, @joshbrand, @tduffield, @cnunciato, @dbhagen

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @reset @fnichol @raskchanky @nellshamrell
libsodium @reset @fnichol @raskchanky @nellshamrell
nginx @reset @fnichol @raskchanky @nellshamrell
postgresql @reset @fnichol @irvingpop @raskchanky @nellshamrell
protobuf @reset @fnichol @raskchanky @nellshamrell
protobuf-rust @reset @fnichol @raskchanky @nellshamrell
zeromq @reset @fnichol @raskchanky @nellshamrell

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol
glibc @fnichol @reset
zlib @fnichol
file @fnichol
binutils @fnichol
m4 @fnichol
gmp @fnichol
mpfr @fnichol
libmpc @fnichol
gcc @fnichol
gcc-libs @fnichol @reset
patchelf @fnichol
bzip2 @fnichol
pkg-config @fnichol
ncurses @fnichol
attr @fnichol
acl @fnichol
libcap @fnichol
sed @fnichol
shadow @fnichol
psmisc @fnichol
procps-ng @fnichol
coreutils @fnichol
bison @fnichol
flex @fnichol
pcre @fnichol
grep @fnichol
readline @fnichol
bash @fnichol @nellshamrell
bc @fnichol
tar @fnichol @nellshamrell
gawk @fnichol
libtool @fnichol
gdbm @fnichol
expat @fnichol
db @fnichol
inetutils @fnichol
iana-etc @fnichol
less @fnichol
perl @fnichol
diffutils @fnichol
autoconf @fnichol
automake @fnichol
findutils @fnichol
xz @fnichol
gettext @fnichol
gzip @fnichol
make @fnichol
patch @fnichol
texinfo @fnichol
util-linux @fnichol
tcl @fnichol
expect @fnichol
dejagnu @fnichol
check @fnichol
libidn @fnichol
cacerts @fnichol
openssl @fnichol @reset
wget @fnichol
unzip @fnichol @nellshamrell
rq @fnichol
linux-headers-musl @fnichol @nellshamrell
musl @fnichol @nellshamrell
busybox-static @fnichol
zlib-musl @fnichol
bzip2-musl @fnichol
xz-musl @fnichol
libsodium-musl @fnichol @reset
openssl-musl @fnichol
libarchive-musl @fnichol @reset
rust @fnichol @reset @raskchanky @nellshamrell
vim @fnichol @nellshamrell
libbsd @fnichol
clens @fnichol
mg @fnichol
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

acbuild @rsertelon
alex @wduncanfraser
artifactory-pro @defilan
atk @rsertelon
cabal-install @wduncanfraser
cairo @rsertelon
cerebro @predominant
concourse @echohack
concourse-fly @echohack
consul @defilan
dep @afiune @nellshamrell
dotnet-47-dev-pack @mwrock
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant
filebeat @predominant
gdk-pixbuf @rsertelon
glib @rsertelon
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @nellshamrell
gocd-server @predominant
grpcurl @afiune
gtk2 @rsertelon
happy @wduncanfraser
harfbuzz @rsertelon
hugo @tduffield @cnunciato
innounp @mwrock
jdk7 @predominant @rsertelon
jdk8 @predominant @rsertelon
jdk9 @predominant @rsertelon
jenkins @predominant
jre7 @predominant @rsertelon
jre8 @predominant @rsertelon
jre9 @predominant @rsertelon
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
monit @rsertelon
mosquitto @rsertelon
mssql @mwrock
nano @predominant
nmap @defilan
nuget @mwrock
optipng @predominant
p4broker @dbhagen
pango @rsertelon
pngquant @predominant
postgresql-client @joshbrand @irvingpop
protobuf-cpp @afiune
rabbitmqadmin @predominant
redis @irvingpop
shared-mime-info @rsertelon
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack
vault @defilan @dbhagen
visual-build-tools-2017 @mwrock
wrk @afiune

Update hugo to 0.46
  hugo/plan.sh
Owners: @tduffield, @cnunciato

Add empty pkg_upstream_url
  shield-proxy/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add pkg_license to redis3 and redis4
  redis3/plan.sh
  redis4/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update NodeJS to 10.8.0
  node/plan.sh
  node10/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[rust] Update to Rust 1.28.0.
  rust/plan.ps1
  rust/plan.sh
Owners: @fnichol, @reset, @raskchanky, @nellshamrell

Update Node for Windows to 10.8.0
  node10/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

Update git to 2.18.0
  git/plan.ps1
  git/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Fix license on Windows plan for git
  git/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

Rekajigger the sensu configuration
  sensu/config/config.json
  sensu/config/server.json
Owners: @habitat-sh/habitat-core-plans-maintainers

Cleanup config toml
  sensu/default.toml
Owners: @habitat-sh/habitat-core-plans-maintainers

Update sensu, and make binds optional
  sensu/Gemfile
  sensu/hooks/run
  sensu/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Added api configuration
  sensu/config/server.json
  sensu/default.toml
Owners: @habitat-sh/habitat-core-plans-maintainers

[kubernetes] Remove golang detection patch
  kubernetes/golang_detection.patch
  kubernetes/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[kubernetes] Upgrade to 1.11.1
  kubernetes-apiserver/default.toml
  kubernetes-apiserver/hooks/run
  kubernetes-apiserver/plan.sh
  kubernetes-controller-manager/plan.sh
  kubernetes-kubelet/default.toml
  kubernetes-kubelet/hooks/run
  kubernetes-kubelet/plan.sh
  kubernetes-proxy/plan.sh
  kubernetes-scheduler/plan.sh
  kubernetes/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Added mage
  .bldr.toml
  mage/README.md
  mage/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Change to build hugo from source, to allow cacerts inclusion from patched go
  hugo/plan.sh
Owners: @tduffield, @cnunciato

Change to core origin for mage
  hugo/plan.sh
Owners: @tduffield, @cnunciato

Simplify mongodb configuration, reduce to minimum
  mongodb/config/mongod.conf
  mongodb/config/mongos.conf
  mongodb/default.toml
  mongodb/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update to zsh 5.5.1, fix tests
  zsh/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update zookeeper to 3.4.13
  zookeeper/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update pkg_source for bzip2
  bzip2/plan.sh
Owners: @fnichol

Update lessmsi to 1.6.1
  lessmsi/plan.ps1
Owners: @mwrock

Openresty update to 1.13.6.1
  openresty/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

adding core plan for ASP.NET MVC v1
  aspnet-mvc1/README.md
  aspnet-mvc1/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

fix end-of-files
  aspnet-mvc1/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Unifies Node ps1 plans and makes them able to be built multiple times
  node/plan.ps1
  node10/plan.ps1
  node6/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

Move core/python2 to pkg_deps from pkg_build_deps. Fixes 1780
  docutils/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

add pkg_description and pkg_upstream_url to make travis happy
  docutils/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update memcached to 1.5.10
  memcached/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[scaffolding-chef] don't use exec to run chef-client and fix a configuration issue
  scaffolding-chef/lib/scaffolding.sh
  scaffolding-chef/plan.sh
Owners: @habitat-sh/scaffolding-maintainers

adds in protobuf-cpp35 plan so that protobuf-c can build again
  protobuf-c/plan.sh
  protobuf-cpp35/README.md
  protobuf-cpp35/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update plan to write out wrapper script that exports $PYTHONPATH, then executes 'real' script.
  docutils/README.md
  docutils/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

use pkg_path_for instead of hab. update comments to remove echos
  docutils/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

adds new protobuf plan to .bldr.toml
  .bldr.toml
Owners: @habitat-sh/habitat-core-plans-maintainers

clarifies building kubernetes plan requirements
  kubernetes/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Update protobuf-c to 1.3.1
  protobuf-c/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Update strace to 4.24, add testing
  strace/plan.sh
  strace/test.bats
  strace/test.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

PHP update to 7.2.8
  php/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Fixed typo in README
  docutils/README.md
Owners: @habitat-sh/habitat-core-plans-maintainers

adding ps-lock plan to manage concurrency sensitive operations
  ps-lock/PSLock.psd1
  ps-lock/PSLock.psm1
  ps-lock/README.md
  ps-lock/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers
