Repository habitat-sh/core-plans, changes with the owners that CODEOWNERS names for each.
All owners: @habitat-sh/habitat-core-plans-maintainers, @habitat-sh/scaffolding-maintainers, @reset, @fnichol

CODEOWNERS:

* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @reset @fnichol
libsodium @reset @fnichol
nginx @reset @fnichol
postgresql @reset @fnichol
protobuf @reset @fnichol
protobuf-rust @reset @fnichol
zeromq @reset @fnichol

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol
glibc @fnichol @reset
zlib @fnichol
file @fnichol
binutils @fnichol
m4 @fnichol
gmp @fnichol
mpfr @fnichol
libmpc @fnichol
gcc @fnichol
gcc-libs @fnichol @reset
patchelf @fnichol
bzip2 @fnichol
pkg-config @fnichol
ncurses @fnichol
attr @fnichol
acl @fnichol
libcap @fnichol
sed @fnichol
shadow @fnichol
psmisc @fnichol
procps-ng @fnichol
coreutils @fnichol
bison @fnichol
flex @fnichol
pcre @fnichol
grep @fnichol
readline @fnichol
bash @fnichol
bc @fnichol
tar @fnichol
gawk @fnichol
libtool @fnichol
gdbm @fnichol
expat @fnichol
db @fnichol
inetutils @fnichol
iana-etc @fnichol
less @fnichol
perl @fnichol
diffutils @fnichol
autoconf @fnichol
automake @fnichol
findutils @fnichol
xz @fnichol
gettext @fnichol
gzip @fnichol
make @fnichol
patch @fnichol
texinfo @fnichol
util-linux @fnichol
tcl @fnichol
expect @fnichol
dejagnu @fnichol
check @fnichol
libidn @fnichol
cacerts @fnichol
openssl @fnichol @reset
wget @fnichol
unzip @fnichol
rq @fnichol
linux-headers-musl @fnichol
musl @fnichol
busybox-static @fnichol
zlib-musl @fnichol
bzip2-musl @fnichol
xz-musl @fnichol
libsodium-musl @fnichol @reset
openssl-musl @fnichol
libarchive-musl @fnichol @reset
rust @fnichol @reset
vim @fnichol
libbsd @fnichol
clens @fnichol
mg @fnichol

bump libxslt, libxml2
  libxml2/plan.sh
  libxslt/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[traefik] bump 1.4.1
  traefik/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[ed] bump 1.14.2
  ed/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

update tmux
  tmux/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Disable this check for now since it it catching templatized sourced files
  .pre-commit-config.yaml
Owners: @habitat-sh/habitat-core-plans-maintainers

Disable this check for now since it it catching templatized sourced files
  .pre-commit-config.yaml
Owners: @habitat-sh/habitat-core-plans-maintainers

Add cluster support for RabbitMQ
  rabbitmq/README.md
  rabbitmq/config/.erlang.cookie
  rabbitmq/config/rabbitmq.config
  rabbitmq/default.toml
  rabbitmq/docker-compose.yml
  rabbitmq/hooks/health_check
  rabbitmq/hooks/init
  rabbitmq/hooks/reconfigure
  rabbitmq/hooks/run
  rabbitmq/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[file] bump 5.32
  file/plan.sh
Owners: @fnichol

[go] bump 1.9.2
  go/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[bldr.toml] Add additional paths to plans that source other plans.
  .bldr.toml
Owners: @habitat-sh/habitat-core-plans-maintainers

Standardize how tilde is used for templating in core plans
  consul/hooks/run
  foulkon/config/environment.sh
  foulkon/config/proxy.toml
  foulkon/config/worker.toml
  grafana/config/grafana.ini
  grafana/hooks/post-run
  haproxy/config/haproxy.conf
  kibana/config/kibana.yml
  mariadb/config/my.cnf
  mongodb/config/mongod.conf
  mongodb/config/mongos.conf
  openvpn/config/server.conf
  postgresql/config/pg_hba.conf
  postgresql/hooks/init
  postgresql/hooks/reconfigure
  prometheus/config/prometheus.yml
  redis/config/redis.config
  rethinkdb/config/default.conf
  scaffolding-ruby/lib/scaffolding.sh
  shield-agent/config/environment.sh
  shield/config/shieldd.conf
  spark/config/spark-defaults.conf
  spark/hooks/run
  storm/config/storm.yaml
  tomcat7/config/conf_tomcat-users.xml
  tomcat8/config/conf_tomcat-users.xml
  traefik/config/traefik.toml
Owners: @habitat-sh/habitat-core-plans-maintainers, @reset, @fnichol, @habitat-sh/scaffolding-maintainers

Standardize spacing with handlebars
  postgresql/README.md
  postgresql/config/postgresql.conf
  postgresql/hooks/run
  shield-agent/hooks/init
  shield-agent/hooks/post-run
  shield/config/environment.sh
  spark/hooks/run
  storm/hooks/run
  wal-e/hooks/run
Owners: @reset, @fnichol, @habitat-sh/habitat-core-plans-maintainers

Fix up check-bad-patterns
  .pre-commit-config.yaml
  bin/check-bad-patterns.sh
  shield/config/shieldd.conf
Owners: @habitat-sh/habitat-core-plans-maintainers

Fix up check-bad-patterns
  .pre-commit-config.yaml
  bin/check-bad-patterns.sh
  shield/config/shieldd.conf
Owners: @habitat-sh/habitat-core-plans-maintainers

Fix up check-bad-patterns
  .pre-commit-config.yaml
  bin/check-bad-patterns.sh
  shield/config/shieldd.conf
Owners: @habitat-sh/habitat-core-plans-maintainers

Updates core/protobuf-c to 1.3.0
  protobuf-c/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[shadow] Update to 4.5.
  shadow/plan.sh
Owners: @fnichol

[shadow] Update Plan to match current standards.
  shadow/plan.sh
Owners: @fnichol

upgrades node version
  node/plan.ps1
  node/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add certstrap plan
  .bldr.toml
  certstrap/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add certstrap plan
  .bldr.toml
  certstrap/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Swap Tom Duffield for Seth Chisamore as Maintainer
  MAINTAINERS.md
Owners: @habitat-sh/habitat-core-plans-maintainers

Scaffolding currently only supports using either yarn or npm for package management, not both.
  scaffolding-node/CHANGELOG.md
  scaffolding-node/lib/scaffolding.sh
  scaffolding-node/plan.sh
Owners: @habitat-sh/scaffolding-maintainers

add plan for innounp
  innounp/plan.ps1
Owners: @habitat-sh/habitat-core-plans-maintainers

[dotnet-core-*] Add `--no-same-owner` flag to custom tar extraction.
  dotnet-core-lts/plan.sh
  dotnet-core-sdk-lts/plan.sh
  dotnet-core-sdk/plan.sh
  dotnet-core/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

[dotnet-core-*] Address shellcheck lints.
  dotnet-core-lts/plan.sh
  dotnet-core-sdk-lts/plan.sh
  dotnet-core-sdk/plan.sh
  dotnet-core/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Adds missing dependencies for libawt_xawt.so in core/jre8
  jre8/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Updates both JDK8 and JRE8 to u151
  jdk8/plan.sh
  jre8/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Add rebar plan
  .bldr.toml
  rebar/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Updates both JDK8 and JRE8 to u151
  jdk8/plan.sh
  jre8/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

Adds missing dependencies for libawt_xawt.so in core/jre8
  jre8/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers

upgrades core/node to latest LTS release
  node/plan.ps1
  node/plan.sh
Owners: @habitat-sh/habitat-core-plans-maintainers
